<html>
    <head>
        <title>Don't compare me yet</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django unchained</a></h1>
        </div>

        <div>
            <p>published: 10.05.2020, 14:38</p>
            <h2><a href="">My first post</a></h2>
            <p>Brrrrrrrrrrrrra, don't smoke weed every day</p>
        </div>

        <div>
            <p>published: 10.05.2020, 14:08</p>
            <h2><a href="">My second post</a></h2>
            <p>It's not a second post. just pay attention</p>
        </div>
    </body>
</html>